a {
    font-size: 20px;
    font-family: verdana;
    text-decoration: none;
    color: blue;
    padding: 11px;
}

#menu {
    color: blue;
    text-align: center;
    margin-top: -40px;
}

.buttons {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 493px;
    height: 32px;
    padding-top: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    background-color: #a8b0f9;
    color: black;
    text-align: center;
}

.image_and_menu_wrapper {
    position: relative;
    height: 320px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -7px;
}

.heading-text {
    font-family: impact;
    font-size: 36px;
    text-align: center;
}

.footer-text {
    font-family: impact;
    font-size: 30px;
    text-align: center;
}

.rgb {
    visibility: hidden;
}

@media only screen and (max-width: 480px) {
    .buttons {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 356px;
        height: 32px;
        padding-top: 8px;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        background-color: #a8b0f9;
        color: black;
        text-align: center;
    }

    .image_and_menu_wrapper {
        position: relative;
        height: auto;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 29px;
    }

    a {
        font-size: 18px;
        font-family: verdana;
        text-decoration: none;
        color: blue;
        padding: 11px;
    }

    .image {
        width: 360px;
    }

    body {
        display: block;
        margin: 0px;
        background-color: lightblue;
    }

    #menu {
        margin-top: -34px;
    }

    .rgb {
        visibility: initial;
    }
}

.rgb {
    animation-name: test;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes test {
    0% {
        color: #ff0000
    }
    20% {
        color: #00ff00
    }
    40% {
        color: #ffff00
    }
    60% {
        color: #0000ff
    }
    80% {
        color: #00ffff
    }
    100% {
        color: #ff0000
    }
}
